.FormContainer {
    padding: 2em;
    background-color: #242424;
    margin: 20px;
    color: white;
    overflow: hidden;
    border-radius: 20px;
}

.FormButton {
    background-color: #424242;
    border: 2px solid #5bdc68;
    color:white;
}

.FormButton:hover {
    background-color: white;
    color: #424242;
    border: 2px solid #5bdc68;
}