.FormContainer {
    padding: 2em;
    background-color: #252525;
    margin: 20px;
    color: whitesmoke;
    overflow: hidden;
    border-radius: 20px;
}

.FormButton {
    background-color: #424242;
    border: 2px solid #5bdc68;
    color:whitesmoke;
}

.FormButton:hover {
    background-color: #5bdc68;
    color: #424242;
    border: 2px solid #5bdc68;
}