.Container {
    padding: 2em;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #252525;
    margin: 20px;
    color: whitesmoke;
    overflow: hidden;
    height: auto;
    border-radius: 20px;
}

.Cards {
    background-color: #424242;
    color: whitesmoke;
}